@{
    ViewData["Title"] = "Contact Us";
}


@* Upcoming movies *@
<h3 >Contact Us</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <h4>Address</h4>
        <p>1234 Main St</p>
        <p>Springfield, MA 12345</p>
    </div>
    <div class="col-md-4">
        <h4>Phone</h4>
        <p>123-456-7890</p>
    </div>
    <div class="col-md-4">
        <h4>Email</h4>
        <p>
            <a href="mailto:info@gmail.com">info@gmail.com</a>
        </p>
    </div>
</div>




